<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('head') %> 
  <body class="container">
    <%- include('header') %> 
    <main>
      <div class="content">
        <h1>Node Com EJS</h1>
        <p>Aprendedo a trabalhar com arquivo EJS</p>
      </div>
    </main>

    <%- include('footer') %> 
  </body>
</html>
